<div class="container">
    <form [formGroup]="form" action="" (submit)="submit()">
        <div class="student-info" formArrayName="list" *ngFor="let list of fieldsArray().controls; let i = index">
            <div  [formGroupName]="i" class="student-info__student">
                <input type="text" name="" id="" placeholder="AdminId" class="input-style" formControlName= "adminId">
                <input type="text" name="" id="" placeholder="FlashscoreId" class="input-style" formControlName="flashscoreId">
                <input type="text" name="" id="" placeholder="EspnId" class="input-style" formControlName="espnId">
                <input type="checkbox" class="checkbox-style" formControlName="first_checkbox" (change)="handleCheckboxChange(i, 'first_checkbox')">
                <input type="checkbox" class="checkbox-style" formControlName="second_checkbox" (change)="handleCheckboxChange(i, 'second_checkbox')">
                <button type="button" *ngIf="fieldsArray().length > 1" class="delete" (click)="removeFields(i)">Delete</button>
            </div>
        </div>
        <button type="button" class="add" (click)="addField()">Add New Field</button>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>
