
.container {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 2rem;
}

.student-info{
    border: 5px solid #189541;
    border-radius: 15px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    padding: 3rem;
    margin-bottom: 2rem;
    

    &__student {
        display: flex;
        align-items: center;

    }

    &__subject {
        display: flex;
        align-items: center;
    }
}

.input-style {
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 7px;
    border: 4px solid #189541;
}
.checkbox-style{
    transform: scale(2);
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 4px;
    outline: none;

    &:checked {
        background-color: #189541;

    }
}



button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-right: 2rem;

  

    &:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    &:active:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.12);
    }

    

}
.add {
    background-color: #254263;

    &:active {
        background-color: #0056b3; 
    }
}

.submit {
    background-color: #28a745; 

    &:active {
        background-color: #218838;
    }
}

.delete {
    background-color: #dc3545;

    &:active {
        background-color:  #c82333;
    }
}

.subject {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}