/* You can add global styles to this file, and also import other style files */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #00141e; /* Set background color for the entire page */
}